@import "tailwindcss";
@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";
/* style cá»§a Simple Editor */
@import "./components/tiptap-templates/simple/simple-editor.scss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera */
}
